@{
    var articleType = ViewBag.ArticleType;
    var categoryValue = "active";
}

<div id="@string.Format((string)"{0}-category-tabs", articleType)" class="custom-font">
    <ul>
        <li><a id="@string.Format("{0}tabs-{1}", articleType, categoryValue)" href="@string.Format("/slh_api/bucketManager/TableContainer?bucketId={0}&category={1}", articleType, categoryValue)">Active?</a></li>
    </ul>
</div>

<script>
	$("@string.Format((string)"#{0}-category-tabs", articleType)").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");

    $("@string.Format((string)"{0}-category-tabs li", articleType)").removeClass("ui-corner-top").addClass("ui-corner-left");
</script>
