@model List<SLH.Feature.Products.Models.Bucket>

@if (Model == null)
{
    <p>NOOOO</p>
}


@foreach (var item in Model)
{
    <h3>@item.Item.Name - @item.Item.ID</h3>
    <ul>
        @foreach (var bucketable in item.BucketableItems)
        {
            <li>@bucketable.Item.Name = @bucketable.Item.ID</li>

            <ol>
                @foreach (var bucketableTemplateField in bucketable.TemplateFields)
                {
                    <li>@bucketableTemplateField.Name</li>
                }

            </ol>
        }
    </ul>
}

